body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./image/christmas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.timer .value {
  display: flex;
}

.timer {
  display: flex;
}

.field {
  margin-right: 20px;
  text-align: center;
}
.value {
  font-size: 100px;
  font-weight: 600;
  color: rgba(238, 146, 9, 0.8);
}

.label {
  font-size: 30px;
  font-weight: 600;
  color: rgba(197, 5, 21, 0.9);
}
